<h1 class="text-center mt-4 mb-3">Listing all articles</h1>
<%= will_paginate @articles, list_classes: %w(pagination justify-content-center)  %>
<%= render 'article' %>
<%= will_paginate @articles, list_classes: %w(pagination justify-content-center)  %>
